*, html {
    margin:0;
    padding:0; 
    overflow: hidden;
}
#main {
    display: flex;
    height: 100vh;
}
#menu > * {
    margin: 16px;
}
#menu {
    flex: 1;
    background-color: #5C469C;
    text-align: center;
    font-size: x-large;
}
#title {
    display: flex;
    align-items: center;
    /* position: relative; */
    /* top: px; */
    color: white;
    font-size: 23px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.github_repo {
    height: 50px;
    border: solid 0px black;
    border-radius:  40%;
    cursor: pointer;
}
.FA-type {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
button {
    border-color: white;
    background-color: #ee3b50;
    border-radius: 10px;
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 20px;
}
#draw-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    width: 50px;

    position: relative;
    left: 20%;
}
#draw-div button {
    width: 50px;
    height: 50px;
    margin: 4px;
}
#circle div{
    background-color: white;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: -7px;
}
#circle-1 {
    position: relative;
    left: -5px;
}
#circle-2 {
    position: relative;
    left: 10px;
}
#type-div {
    background-color: white;
    color: white;
    border: solid white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.minimize {
    /* opacity: 0.6; */
    cursor: not-allowed;
}
.c {
    cursor: not-allowed;
}
.Bulk_Test {
    cursor: not-allowed;
}
#type-div span {
    /* background-color: #6da5c0; */
    padding: 0 12px 0 12px;
}
#box {
    margin-top: 0px;
    background-color: white;
    /* padding-bottom: 10%; */
    border-radius: 10px;
}


#container {
    flex: 8;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#container button {
    width: 100px;
    padding: 5px;
}
#head {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: cadetblue;
}
#head button {
    height: 20%;
    width: 20%;
}
#middle {
    flex: 5;
    border: 2px;
    border: 1px solid black;
    display: flex;
}
#middle div {
    background-color: brown;
    border-radius: 100%;
    height: 9%;
    width: 10%;
}

#canvas {
    width: 89vw;
    height: 60vh;
    border: solid black;
    /* background-color: #ee3b50; */
}

#bottom {
    flex: 1;
    border: 1px solid black;
    display: flex;
}
#bottom span {
    display: block;
    font-size: x-large;
}
#bottom > div:nth-child(1) > span {
    background-color: lightblue;
}

#bottom > div:nth-child(2) > span {
    background-color: lightpink;
}
#bottom > div:nth-child(3) > span {
    background-color: rgb(241, 241, 134);
}

#accept {
    flex: 1;
    border: 1px solid black;
}
#reject {
    flex: 1;
    border: 1px solid black;
}
#result {
    flex: 1;
    border: 1px solid black;
}
.T_and_D {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}
.Bulk_Test {
    position: relative;
    top: 82px;
}



/* button {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
  }
  button span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
  }
  button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
  }
  button:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  button:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  } */






 /* New style button */

button:link,
button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
  
button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
  
button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
button-white {
    background-color: #fff;
    color: #777;
}
  
button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
  
button-white::after {
    background-color: #fff;
}
  
button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
  
button-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
  
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}







